<article>
  <%= form_for([:admin, @listing], html: { multipart: true }) do |f| %>
      <table id = "whole-card" class="mdl-data-table mdl-js-data-table edit-listing-table">
        <thead>
        <tr>
          <th id="table-title" class="mdl-data-table__cell--non-numeric"><%= @title %> Listing</th>
          <th id="table-title" class="mdl-data-table__cell--non-numeric"></th>
        </tr>
        <tr>
          <th class="mdl-data-table__cell--non-numeric"><%= f.label :name, "Listing Name:" %></th>
          <th class="mdl-data-table__cell--non-numeric"><%= f.label :cost, "Cost:" %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= f.text_field :name %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= f.text_field :cost %></td>
        </tr>
        <tr>
          <th class="mdl-data-table__cell--non-numeric"><%= f.label :location_id, "Location:" %></th>
          <th></th>
          <!--
          <!-- <th class="mdl-data-table__cell--non-numeric"><%#= f.label :long, "Longitude:" %></th> -->
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= f.number_field :location_id %></td>
          <td class="mdl-data-table__cell--non-numeric"></td>
          <!-- <td class="mdl-data-table__cell--non-numeric"><%#= f.number_field :lat %></td> -->
          <!-- <td class="mdl-data-table__cell--non-numeric"><%#= f.number_field :long %></td> -->
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"></td>
          <td class="mdl-data-table__cell--non-numeric new-listing-submit"><%= f.submit %></td>
        </tr>
        </tr>
        </tbody>
      </table>
  <% end %>
</article>
