<article>
<%= form_for(@listing, html: { multipart: true }) do |f| %>
  <table id = "whole-card" class="mdl-data-table mdl-js-data-table edit-listing-table">
    <thead>
      <tr>
        <th id="table-title" class="mdl-data-table__cell--non-numeric"><%= @title %>Listing</th>
        <th id="table-title" class="mdl-data-table__cell--non-numeric"></th>
      </tr>

      <tr>
        <th class="mdl-data-table__cell--non-numeric"><%= f.label :name, "Listing Name:" %></th>
      </tr>

      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= f.text_field :name %></td>
      </tr>

    </thead>

    <tbody>
      <tr>
        <th class="mdl-data-table__cell--non-numeric"><%= f.label :cost, "Cost:" %></th>
        <th class="mdl-data-table__cell--non-numeric"><%= f.label :image_file_name, "Image:" %></th>
      </tr>

      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= f.text_field :cost %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= f.number_field :image_file_name %></td>
      </tr>

      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <%= f.select(:location_id, Location.all.map{ |l| ["#{l.continent}", l.id ] }) %>
        </td>
      </tr>

      <tr>
        <th class="mdl-data-table__cell--non-numeric"><%= f.label :lat, "Latitude:" %></th>
        <th class="mdl-data-table__cell--non-numeric"><%= f.label :long, "Longitude:" %></th>
      </tr>

      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= f.number_field :lat %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= f.number_field :long %></td>
      </tr>

      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= f.hidden_field :host_id, :value => current_user.id %></td>
      </tr>

      <tr>
        <td class="mdl-data-table__cell--non-numeric"></td>
        <td class="mdl-data-table__cell--non-numeric new-listing-submit"><%= f.submit %></td>
      </tr>
      </tr>
    </tbody>
  </table>
<% end %>
</article>
