<article>
  <h1 id="title"><%= @listing.name %></h1>

  <div class = "listing-img">
    <%= image_tag @listing.image, class: "listing-show-card" %>
  </div>

  <div class="mdl-grid">
    <div class="description mdl-cell mdl-cell--7-col">
      <p id="listing-description">
        <%= @listing.description %>
      </p>

      <h3 class="listing-subheader"><%= number_to_currency(@listing.listing_cost) %></h3>
    </div>

    <div class="mdl-cell mdl-cell--5-col">
      <%= link_to "Edit Listing", edit_admin_listing_path(listing_id: @listing.id), class: "call-to-action" %>
    </div>
  </div>
</article>
