<table id="reservation-table" class="mdl-data-table mdl-js-data-table"> '
  <thead>
  <tr id="filter">
    <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Filter Status - Ordered',        {controller: 'reservations', action: 'index', :status => 0 }  %></td>
    <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Filter Status - Paid',           {controller: 'reservations', action: 'index', :status => 1 }  %></td>
    <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Filter Status - Cancelled',      {controller: 'reservations', action: 'index', :status => 2 }  %></td>
    <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Filter Status - Completed',      {controller: 'reservations', action: 'index', :status => 3 }  %></td>
    <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Filter Status - All',            admin_reservations_path %></td>
  </tr>
  <tr>
    <th class="mdl-data-table__cell--non-numeric"></th>
    <th>Reservation Number</th>
    <th>Total Cost</th>
    <th class="mdl-data-table__cell--non-numeric">Date Ordered</th>
    <th class="mdl-data-table__cell--non-numeric">Status</th>
  </tr>
  </thead>
  <tbody>
  <%@reservations.each do|reservation| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= link_to "View Reservation", admin_reservation_path(reservation) %></td>
          <td><%= reservation.id %></td>
          <td><%= number_to_currency(reservation.sum_total_cost) %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= (reservation.created_at).to_formatted_s(:long) %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= reservation.status %></td>
        </tr>
  <% end %>
  </tbody>
</table>


