
<table id="reservation-table" class="mdl-data-table mdl-js-data-table"> '
  <thead>
  <tr>
    <th id="table-title" class="mdl-data-table__cell--non-numeric">Reservation # <%= @reservation.id %></th>
    <th id="table-title" class="mdl-data-table__cell--non-numeric"></th>
    <th id="table-title" class="mdl-data-table__cell--non-numeric"></th>
    <th id="table-title" class="mdl-data-table__cell--non-numeric"></th>
    <th id="table-title" class="mdl-data-table__cell--non-numeric"></th>
    <th id="table-title" class="mdl-data-table__cell--non-numeric"></th>
    <th id="table-title" class="mdl-data-table__cell--non-numeric"></th>
  </tr>
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Name</th>
    <th class="mdl-data-table__cell--non-numeric">Address</th>
    <th class="mdl-data-table__cell--non-numeric">Listing</th>
    <th>Total Cost</th>
    <th class="mdl-data-table__cell--non-numeric">Date Reserved</th>
    <th class="mdl-data-table__cell--non-numeric">Status</th>
  </tr>
  </thead>
  <tbody>
      <% @reservation.reservation_listings.each do |reservation_listing| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= @reservation.user.full_name %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= @reservation.user.address %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to reservation_listing.listing.name, listing_path(reservation_listing.listing) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= (reservation_listing.listing.created_at).to_formatted_s(:long) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= @reservation.status %></td>
      </tr>
      <% end %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"></td>
        <td class="mdl-data-table__cell--non-numeric"></td>
        <td class="mdl-data-table__cell--non-numeric"></td>
        <td class="mdl-data-table__cell--non-numeric"></td>
        <td class="mdl-data-table__cell--non-numeric"></td>
        <%= form_for @reservation, url: admin_reservation_path(@reservation) do |f| %>
          <td>
            <%= select(:reservation, :status, [['Ordered',0],['Paid',1],['Cancelled',2],['Completed',3]]) %>
          </td>
          <td>
            <%= f.submit "Update Status" %>
          </td>
        <% end %>
      </tr>
  </tbody>
</table>
