<div class="dashboard">
<article>
  <h1 id="title"><%= current_user.username.capitalize %>'s Dashboard</h1>
  <div class="demo-grid-2 mdl-grid">

    <div class="mdl-cell mdl-cell--4-col">
      <div id="user-card" class="mdl-card mdl-shadow--2dp demo-card-wide">
        <div class= "mdl-card__title">
          <h3 class="mdl-card__title-text">Manage My Profile</h3>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <%= link_to "Edit Profile", edit_user_path(current_user), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <div id="user-card" class="mdl-card mdl-shadow--2dp demo-card-wide">
        <div class= "mdl-card__title">
          <h3 class="mdl-card__title-text">Manage My Reservations</h3>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <%= link_to "View All Reservations", reservations_path, class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
        </div>
      </div>
    </div>

    <% if current_user.business_admin? %>
      <div class="mdl-cell mdl-cell--4-col">
        <div id="user-card" class="mdl-card mdl-shadow--2dp demo-card-wide">
          <div class= "mdl-card__title">
            <h3 class="mdl-card__title-text">Manage My Listings</h3>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <% @listings.each do |listing| %>
              <%= listing.name %><%= link_to 'Edit', edit_listing_path(listing), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %><br>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <% if current_user.platform_admin? %>
    <div class="demo-grid-2 mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div id="user-card" class="mdl-card mdl-shadow--2dp demo-card-wide">
          <div class= "mdl-card__title">
            <h3 class="mdl-card__title-text">Manage 'Way Out There'</h3>
          </div>
          <div class="mdl-card__actions mdl-card--border">
          </div>
        </div>
      </div>
    </div>
  <% end %>

</article>
</div>
