<header id="nav-bar" class="mdl-layout__header mdl-layout__header--transparent">

  <div class="mdl-layout__header-row">

    <h1><%= link_to "Way Out There", root_path, id: "logo" %></h1>

    <nav class="mdl-navigation" id="main-links">
      <% if current_user %>
        <span class="mdl-navigation__link"><%= link_to "Host Your Space", new_listing_path, class: "nav-bar-link" %></span>
        <span class="mdl-navigation__link"><%= link_to current_user.username, dashboard_path, class: "nav-bar-link username-link" %></span>
        <span class="mdl-navigation__link"><%= link_to "Logout", logout_path, method: :delete, class: "nav-bar-link" %></span>
      <% else %>
        <span class="mdl-navigation__link"><%= link_to "Register", new_user_path, class: "nav-bar-link" %></span>
        <span class="mdl-navigation__link"><%= link_to "Login", login_path, class: "nav-bar-link" %></span>
      <% end %>
    </nav>

  </div>

  <div class="flash">
    <% flash.each do |type, msg| %>
      <%= content_tag  :div, msg, class: "flash_#{type}"%>
    <% end %>
  </div>

</header>
