<div class="home-picture">
  <h2>
    <span class="catchphrase">Book Lodging</span><br>
    in the most obscure places on earth.
  </h2>
  <div class="search-area">
    <%= form_tag search_results_path, method: 'get' do %>
      <%= select_tag(:location, options_for_select(@locations.map{ |l| ["#{l.continent}", l.id ] }, selected: params[:location])) %>
      <%= text_field_tag :from, params[:from] %>
      <%= text_field_tag :to, params[:to] %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
</div>
