<div class="home-picture">
  <h2>
    <span class="catchphrase">Book Lodging</span><br>
    in the most obscure places on earth.
  </h2>
  <div class="search-area">
    <%= form_tag search_results_path, method: 'get' do %>
      <%= select_tag(:location, options_for_select(@locations.map{ |l| ["#{l.continent}", l.id ] }.insert(0, "Where do you want to go?"), selected: params[:location])) %>
      <%= text_field_tag :from, params[:from], placeholder: "Check In" %>
      <%= text_field_tag :to, params[:to], placeholder: "Check Out" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
</div>

<article>
  <h1 id="title">Featured Listings</h1>

  <div class="demo-grid-1 mdl-grid">

    <% @featured_listings.each do |listing| %>

      <div class="mdl-cell mdl-cell--4-col">
        <div id="whole-card" class="mdl-card mdl-shadow--2dp demo-card-wide">
          <div class="mdl-card__title">
            <h3 class="mdl-card__title-text"><%= listing.name %></h3>
          </div>
          <div class="listings-card">
            <%= image_tag listing.image, class: "listing-index-card" %>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <%= link_to "View Listing", listing_path(listing.id), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</article>


<footer class="docs-text-styling docs-footer mdl-mini-footer mdl-color--grey-900">
    <div class="container">
        <h4>What is Way Out There?</h4>
        <p><strong>Way Out There</strong> is a <em>life changing experience</em> unlike any you
          will find upon the beaten path. We take you<em>to the most remote places</em> on Earth <br/>
          and get you away from the<strong>ordinary</strong>. If you <strong>crave</strong> new adventures and
          and enjoy the road less traveled, Way Out There will provide a base camp for your <strong>journey
          </strong>, <br>ensuring every exploration is an incredible story.<br><br>
        </p>
    </div>
</footer>
