<div class="cart">
<div class="cart-picture">
  <img>
</div>
<h3 id="cart-title">Confirm Payment with FuturePay</h3>

<div class="cart-container">
  <div class="demo-grid-2 mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <table id="cart-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th></th>
            <th id="name-col">Name</th>
            <th id="continent-col" class="mdl-data-table__cell--non-numeric">Location</th>
            <th id="price-col">Price per Night</th>
            <th>Reservation Date(s)</th>
          </tr>
        </thead>
        <tr>
          <td id="delete-link"><%= link_to "Change Reservation", search_results_path(location: @listing.location.id, check_in: params[:check_in], check_out: params[:check_out]) %></td>
          <td><%= @listing.name %></td>
          <td><%= @listing.location.continent %></td>
          <td><%= number_to_currency(cost_per_day) %></td>
          <td><%= date_range %> (<%= number_of_days.to_i %> days)</td> <tbody>
        </tr>
          </tbody>
      </table>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <table id="cart-total" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th>Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= number_to_currency(total_cost) %></td>
          </tr>
          <tr>
            <% if current_user %>
              <td id="checkout" class="mdl-data-table__cell--non-numeric"><%= link_to "Submit Payment", reservations_path(@listing.id,
                                                                                                                          check_in: params[:check_in],
                                                                                                                          check_out: params[:check_out],
                                                                                                                          total_cost: params[:total_cost]), method: :post %></td>
            <% else %>
              <td id="checkout" class="mdl-data-table__cell--non-numeric"><%= link_to "Submit Payment", login_path, method: :get %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
