<div class="cart">
<div class="cart-picture">
<img>
</div>
<h3 id="cart-title">Cart</h3>

<div class="cart-container">
<div class="demo-grid-2 mdl-grid">
<div class="mdl-cell mdl-cell--6-col">
<table id="cart-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th></th>
      <th id="name-col">Name</th>
      <th id="continent-col" class="mdl-data-table__cell--non-numeric">Location</th>
      <th id="price-col">Price</th>
      <th>Reservation Date(s)</th>
    </tr>
  </thead>
  <tbody>
  <% unless @cart.contents.empty? %>
    <tr>
      <td id="delete-link"><%= link_to "Remove", cart_path(@listing), method: :delete %></td>
      <td><%= @listing.name %></td>
      <td><%= @location %></td>
      <td><%= number_to_currency(@listing.cost) %></td>
      <td><%= @date_range %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="mdl-cell mdl-cell--6-col">
  <table id="cart-total" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= number_to_currency(@total_cost) %></td>
      </tr>
      <tr>
        <% if current_user %>
          <td id="checkout" class="mdl-data-table__cell--non-numeric"><%= link_to "Checkout", reservations_path, method: :post %></td>
        <% else %>
          <td id="checkout" class="mdl-data-table__cell--non-numeric"><%= link_to "Checkout", new_user_path, method: :get %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</div>
